---
import Container from "./Container.astro";
---

<footer class="py-20 md:py-40">
    <Container>
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
            <div
                    class="flex w-full justify-center space-x-20 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
            >
                <ul class="list-inside space-y-8">
                    <li><a href="https://alsaceteam.feishu.cn/wiki/LVviwKi4HiSwa3kAg8Ic2EBNnYg"
                           class="transition hover:text-primary">服务器手册</a></li>
                    <li><a href="https://alsaceteam.feishu.cn/wiki/KPKvwwlISioz0EkEOfScRuXRnjT"
                           class="transition hover:text-primary">新人游玩指南</a></li>
                    <li><a href="https://alsaceteam.feishu.cn/wiki/Pm87wSa3oikct9kqdTNcJm0Pnke"
                           class="transition hover:text-primary">命令指南</a></li>
                </ul>
                <ul class="list-inside space-y-8">
                    <li><a href="https://alsaceteam.feishu.cn/wiki/RrHWwN3TtihgSyk35blcaJk3ncd"
                           class="transition hover:text-primary">常见问题指南</a></li>
                    <li><a href="https://alsaceteam.feishu.cn/wiki/SptxwarANiJtcHkxV8IcU5p6nqe"
                           class="transition hover:text-primary">更新日志</a></li>
                    <li>
                        <a href="https://github.com/Alsace-Technology-Department"
                           class="flex items-center space-x-3 transition hover:text-primary">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    class="w-5"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                                />
                            </svg>
                            <span>Github</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div
                    class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
            >
            <span class="block text-gray-500 dark:text-gray-400"
            >我们不仅仅是一个建筑服务器，它是一个汇聚创意、技术与乐趣的社区</span
            >

                <span class="block text-gray-500 dark:text-gray-400">© 2020 - 2024 长沙阿尔萨斯文化传播有限公司 All Rights Reserved.<span
                        id="year"></span></span>

                <span class="flex justify-between text-gray-600 dark:text-white">
              <a href="https://alsaceteam.feishu.cn/wiki/F8AHwoD18iq45fk3ieSc6pcGnYy" class="font-medium">用户协议</a>
                        <a href="https://alsaceteam.feishu.cn/wiki/MeskwzXl1icsnXkQc4nc7BJknRh"
                           class="font-medium">地图托管协议</a>
            </span>

                <span class="block text-gray-500 dark:text-gray-400"
                ><a href="https://beian.miit.gov.cn/" class="font-semibold text-gray-600 dark:text-white">湘ICP备2023023798号</a></span
                >
            </div>
        </div>
    </Container>
</footer>
