---
import Container from "./Container.astro"
---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">阿尔萨斯
                    <span class="text-primary dark:text-white">工业园</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">
                    不仅仅是一个建筑服务器，它是一个汇聚创意、技术与乐趣的社区</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                            href="#joinin"
                            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                      >加入服务器</span
                      >
                    </a>
                    <a
                            href="http://manual.alsace.team"
                            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                            target="_blank"
                    >
                      <span
                              class="relative text-base font-semibold text-primary dark:text-white"
                      >服务器手册</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left m-2">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">极致的建筑体验</h6>
                        <p class="mt-2 text-gray-500">享受先进建筑工具为您带来的便利</p>
                    </div>
                    <div class="text-left m-2">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">专业的地图托管服务</h6>
                        <p class="mt-2 text-gray-500">与朋友共同创造，享受私人、安全的建筑空间</p>
                    </div>
                    <div class="text-left m-2">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">专业服务，随叫随到</h6>
                        <p class="mt-2 text-gray-500">我们的专业团队随时待命，确保您的创作无忧</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <a href="https://mualliance.cn/">
                        <img src="https://www.mualliance.cn/wp-content/uploads/2023/01/mua_tm.png"
                             class="h-12 w-auto mx-auto" loading="lazy"
                             alt="中国Minecraft高校联盟" width="" height=""/>
                    </a>
                </div>

                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <a href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=BBGEndKFqP3QVCXgKb_UjVvNsBqPYgNP&authKey=gwaer5qv3Vv3pvQRrML9SiaJpyxCm06%2F%2Frz0QRivoGlE6snupib7gGybvqtdgvWU&noverify=0&group_code=1084134806">
                        <img src="https://cloud.alsace.team/Picture/pic/%E6%88%AA%E5%B1%8F%202024-06-09%2013.10.15.png?imageMogr2/format"
                             class="h-12 w-auto mx-auto" loading="lazy" alt="中世纪小屋"
                             width="" height=""/>
                    </a>
                </div>

                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <a href="https://www.alsace.team">
                        <img src="https://ns.alsace.team/service/images/logo/logo-web.webp" class="h-12 w-auto mx-auto"
                             loading="lazy" alt="阿尔萨斯工业"
                             width="" height=""/>
                    </a>
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <a href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=6qiLBdmE6aLerelUV4AuIK_wEITVjkmJ&authKey=U7JL2wbz9NLxiKhewFUNvc3ZIhytvkwO4XPom1pqAuAkTHubsRB%2Fh4cJuJ8w3AKs&noverify=0&group_code=628816419">
                        <img src="https://cloud.alsace.team/Picture/pic/%E4%BD%93%E7%B4%A0%E5%85%AC%E7%A4%BE.png?imageMogr2/format"
                             class="h-9 w-auto m-auto" loading="lazy" alt="体素公社"
                             width="" height=""/>
                    </a>
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <a>
                        <img src="https://cloud.alsace.team/Picture/pic/f3530775-f3f4-4a06-b706-b34a044369b0.png?imageMogr2/format"
                             class="h-8 w-auto m-auto" loading="lazy" alt="弦音互联"
                             width="" height=""/>
                    </a>
                </div>
            </div>
        </div>
    </Container>
</div>
