---
import Container from "./Container.astro";
---

<div id="solution">
    <Container>
        <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
            <div class="md:6/12 lg:w-1/2">
                <img src="https://ns.alsace.team/service/images/img/kefu.svg" alt="客服"/>
            </div>
            <div class="md:6/12 lg:w-1/2">
                <div class="md:w-2/3 lg:w-1/2">
                    <svg width="24" height="24" viewBox="0 0 48 48" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg"
                         class="w-6 h-6 text-secondary">
                        <path d="M19 20C22.866 20 26 16.866 26 13C26 9.13401 22.866 6 19 6C15.134 6 12 9.13401 12 13C12 16.866 15.134 20 19 20Z"
                              fill="#22aaff" stroke="#22aaff" stroke-width="4" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M33 8C33 8 35.25 12.5 33 18" stroke="#22aaff" stroke-width="4" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M40 4C40 4 44.5 12.1 40 22" stroke="#22aaff" stroke-width="4" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M4 40.8V42H34V40.8C34 36.3196 34 34.0794 33.1281 32.3681C32.3611 30.8628 31.1372 29.6389 29.6319 28.8719C27.9206 28 25.6804 28 21.2 28H16.8C12.3196 28 10.0794 28 8.36808 28.8719C6.86278 29.6389 5.63893 30.8628 4.87195 32.3681C4 34.0794 4 36.3196 4 40.8Z"
                              fill="#22aaff" stroke="#22aaff" stroke-width="4" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-3xl">
                        专业服务，随叫随到
                    </h2>
                </div>
                <p class="my-8 text-gray-600 dark:text-gray-300">
                    遇到问题？我们的专业团队随时待命，提供优质的服务，您可以随时寻求服务器管理的帮助，确保您的创作无忧。
                </p>
                <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
                    <div class="mt-8 flex gap-4 md:items-center">
                        <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                 class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                                <path fill-rule="evenodd"
                                      d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="w-5/6">
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">聆听您的建议</h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                您可以随时向我们提出任何建议或者意见，我们将认真对待您的建议，并尽最大努力为您解决</p>
                        </div>
                    </div>
                    <div class="pt-4 flex gap-4 md:items-center">
                        <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400" width="24" height="24" viewBox="0 0 48 48" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M24.0002 45C27.2208 45 32.7276 40.8 32.7276 24C32.7276 7.2 27.2208 3 24.0002 3C20.7797 3 15.2729 7.48302 15.2729 24C15.2729 40.517 20.7797 45 24.0002 45Z"
                                      stroke="#0D9492" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M5.10515 35.0001C6.71545 37.8124 13.2479 40.4211 28.364 31.6211C43.48 22.8211 44.5057 15.8124 42.8954 13.0001C41.2851 10.1878 34.4981 7.72728 19.6367 16.3791C4.77521 25.0308 3.49489 32.1878 5.10515 35.0001Z"
                                      stroke="#0D9492" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M5.10506 13.0001C3.4948 15.8124 4.52046 22.8211 19.6366 31.6211C34.7527 40.4211 41.285 37.8124 42.8953 35.0001C44.5056 32.1878 43.2253 25.0308 28.3638 16.3791C13.5024 7.72728 6.71537 10.1878 5.10506 13.0001Z"
                                      stroke="#0D9492" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="w-5/6">
                            <h3 class="font-semibold text-lg text-gray-700 dark:text-teal-300">专业的运营团队</h3>
                            <p class="text-gray-500 dark:text-gray-400">
                                我们的团队有着超过4年的建筑服务器运营经验，保证您的建筑体验</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>
