---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        聆听大家的声音
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-xl" src="https://minotar.net/helm/Hanamizu_/100.png" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Hanamizu_</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">开发者</p>
          </div>
        </div>
        <p class="mt-8">工业园是国内顶尖的Minecraft建筑服务器之一，有着先进的建筑工具，拥有一个非常活跃的社区，欢迎大家加入！</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-xl" src="https://minotar.net/helm/EM_Ghost/100.png" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">EM_Ghost</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">渲染师、建筑师</p>
          </div>
        </div>
        <p class="mt-8">工业园是一个非常棒的建筑社区服。在创作过程中不仅能够使用市面上大部分的建筑工具，更能认识一堆志同道合的小伙伴。总之欢迎大家一起来工业园玩耍！</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-xl" src="https://minotar.net/helm/chunshushu/100.png" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">chunshushu</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">建筑师</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-xl" src="https://minotar.net/helm/Greens_xfl/100.png" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Greens_xfl</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">建筑师</p>
          </div>
        </div>
        <p class="mt-8">在工业园完成了很多的建筑，gopaint、arceon、axiom等各项插件功能齐全，便捷的命令查询功能帮助我在建筑时节省了很多的时间。</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-xl" src="https://minotar.net/helm/z_wuxin/100.png" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">z_wuxin</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">建筑师</p>
          </div>
        </div>
        <p class="mt-8">工业园的多样化功能帮助我完成了雕塑创作和欧式大比例场景设计。rotate旋转在这服里会自动修补一部分，不会有太多空缺的地方。插件功能也非常齐全齐全，建筑输错了指令卡了也不会影响到别人，在这里建筑非常舒服。</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-xl" src="https://minotar.net/helm/Haoyuan_luo/100.png" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Haoyuan_luo</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">建筑师</p>
          </div>
        </div>
        <p class="mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.</p>
      </div>


    </div>
  </Container>
</div>
